---
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";

const { footer_content, copyright } = config.params;
---

<footer class="py-12 pb-0 bg-neutral-10">
  <div class="container">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      {
        menu.footer.map((col) => {
          return (
            <div class="mb-8">
              <h3 class="font-header font-bold text-white text-lg mb-4" set:html={markdownify(col.name)} />
              <ul class="space-y-2">
                {col?.menu.map((item) => (
                  <li>
                    <a href={item.url} class="font-primary text-neutral-70 hover:text-white transition-colors duration-200">
                      {item.text}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          );
        })
      }
      {/* logo + description */}
      <div class="mb-8 sm:col-span-2 lg:col-span-2">
        <a href="/" aria-label="AltruPets">
          <Image
            src={config.site.logo}
            width={Number(config.site.logo_width)}
            height={Number(config.site.logo_height)}
            alt="AltruPets"
            class="brightness-0 invert"
          />
        </a>

        <p class="mt-4 mb-6 font-primary text-neutral-70 text-sm leading-relaxed max-w-sm" set:html={markdownify(footer_content)} />
        <Social source={social.main} className="social-icons mb-8" />
      </div>
    </div>
    {/* copyright */}
    <div class="border-t border-neutral-30 py-6 mt-4">
      <p class="text-sm text-center font-tertiary text-neutral-70" set:html={markdownify(copyright)} />
    </div>
  </div>
</footer>
